/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__nav {
  margin: 0;
  padding: 0;
}
.header__nav,
.nav__doctors,
.nav__patients {
  color: #071330;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

.nav__patients {
  margin-left: 64px;
}

.nav__doctors {
  margin-left: 40px;
}
.header {
  background-color: #fff;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 70;
}
