.container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  font-weight: 400;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.section {
  padding: 50px 0;
}

li {
  list-style-type: none;
}

.h2 {
  color: #071330;
  font-size: 40px;
  line-height: 47px;
}

.btn:hover {
  background: #273ab8;
}

.btn:focus {
  outline: 2px dashed #3d55f9;
  outline-offset: 5px;
}

.btn:active {
  background-color: #4b57a9;
}

.p {
  color: #071330;
  font-size: 18px;
  line-height: 32px;
}

a {
  display: inline-block;
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 12px;
  border: 1px solid #3d55f9;
  background-color: #3d55f9;
  color: #fff;
}

.btn-primary {
  padding: 10px 20px;
  margin-left: auto;
}

.nav-link:hover {
  border-bottom: 1px solid #071330;
}

.nav-link:focus {
  border-bottom: 1px solid #071330;
}

.nav-link:active {
  opacity: 0.6;
  border-bottom: 1px solid #071330;
}

.btn-secondory {
  padding: 18px 30px;
}

.header .header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}
.header .header__navlist {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.header .nav .nav__patients {
  padding-left: 64px;
  padding-right: 40px;
}
.header .header__btn-wrapper {
  margin-left: auto;
}

.header-section {
  display: flex;
}
.header-section .header-section__content {
  padding: 67px 0 24px 0;
}
.header-section .header-section__title {
  margin: 0;
  max-width: 460px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 43px;
  line-height: 50px;
  color: #071330;
}
.header-section .header-section__subtitle {
  margin: 0;
  max-width: 450px;
  padding-top: 81px;
  padding-bottom: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #071330;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social .social__content {
  max-width: 470px;
}
.social .social__header-span {
  margin: 0;
  padding-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3d55f9;
}
.social .social__header {
  margin: 0;
  padding-bottom: 33px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  color: #071330;
}
.social .social__subtitle {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #071330;
}
.social .social__subtitle:last-child {
  padding-top: 31px;
}

.new-options h2 {
  margin: 0;
  max-width: 700px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #071330;
  margin: 0 auto;
  padding-bottom: 61px;
}
.new-options .new-options__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-options .new-options__wrapper h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #071330;
  padding-bottom: 24px;
  padding-top: 24px;
  margin: 0;
}
.new-options .new-options__wrapper p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(7, 19, 48, 0.6);
  max-width: 535px;
}
.new-options .new-options__wrapper .new-option__span-number {
  margin: 0;
  display: inline-block;
  padding: 13px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  background-color: #3d55f9;
  box-shadow: 16px 16px 32px rgba(7, 19, 48, 0.08);
  border-radius: 28px;
}/*# sourceMappingURL=main.css.map */