* {
  box-sizing: border-box;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  margin: 0;
  font-weight: 400;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.section {
  padding: 50px 0;
}
li {
  list-style-type: none;
}

.h2 {
  color: #071330;
  font-size: 40px;
  line-height: 47px;
}

.btn:hover {
  background: #273ab8;
}

.btn:focus {
  outline: 2px dashed #3d55f9;
  outline-offset: 5px;
}

.btn:active {
  background-color: #4b57a9;
}

.p {
  color: #071330;
  font-size: 18px;
  line-height: 32px;
}

a {
  display: inline-block;
  text-decoration: none;
}

.btn {
  display: inline-block;
  border-radius: 12px;
  border: 1px solid #3d55f9;
  background-color: #3d55f9;
  color: #fff;
}

.btn-primary {
  padding: 10px 20px;
  margin-left: auto;
}

.nav-link:hover {
  border-bottom: 1px solid #071330;
}

.nav-link:focus {
  border-bottom: 1px solid #071330;
}
.nav-link:active {
  opacity: 0.6;
  border-bottom: 1px solid #071330;
}
.btn-secondory {
  padding: 18px 30px;
}
